@model ErrorViewModel
@{
    ViewData["Title"] = "Ops!";
    Layout = "_LayoutWithoutButtons";    
}

@section Styles{
    <style type="text/css">        
        #kermitImage{
            width:30%;
            float:left;
        }
        .page-section{
            padding-bottom: 0;
        }
        .title, .subtitle {
            color: #2c3e50;
        }
        .title{
            font-weight: bold;
            font-size:50px;
        }
        .subtitle {
            font-weight: 600;
            font-size: 30px;
        }
    </style>    
}

<div class="page-section clearfix">    
    <div class="container mt-5">
        <div id="kermitImage">
            <img src="~/images/errorKermit.png"/>
        </div>
        <div class="col-8 float-right mt-5">
            <span class="title">Ops!</span><br/>
            <span class="subtitle">Aparentemente houve um erro, e como pode ver irritou mais alguém além de você...</span>
        </div>
    </div>    
</div>